/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body{
    background: linear-gradient(150deg, #06d7fc88 0%, #b402ebe6 90%);
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

header{
    border-bottom: 1px solid gray;
}

.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}


.header__logo{
    display: flex;
    flex-direction: column;
}
.header__logo img{
    width: 120px;
}
.header__logo span{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 28px;
}

.header__sorting img{
    width: 50px;
    cursor: pointer;
}

.header__cerate-sorting{
    display: flex;
    align-items: center;
}
.setting-btn{
    width: 30px;
    transition:  transform .5s, opacity .5s, background-color .5s;
    cursor: pointer;
    margin-left: 10px;
}
.setting-btn:hover{
    transform: rotate(180deg);
}
.setting-btn:active{
    transform: rotate(180deg);
}
.setting__menu{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 2;
    transition: .5s;
}
.setting__menu.open{
    visibility: visible;
    opacity: 1;
}
.close__setting-btn{
    position: absolute;
    top: -20px;
    right: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgb(238, 13, 13);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: 0.2s;
    cursor: pointer;
}
.close__setting-btn:hover{
    transform: scale(1.1);
}
.setting-menu-content{
    position: relative;
    background-color: #fff;
    padding: 20px 100px 50px;
    border-radius: 10px;
    transition: 0.4s;
    margin-bottom: -1000px;
    animation-timing-function: cubic-bezier(0.1, 1.05, 0.35, 1.26)
}

.setting-menu-content span{
    color: #272727;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
.setting__menu.open .setting-menu-content{
    transform: translateY(-500px)
    
}


.night-theme-btn-icon{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 50%;
    top: 50%;
    margin-top: -22px;
    margin-left: -22px;
    opacity: 0;
    transition: opacity .15s;
}
.night-theme-btn-icon__moon{
    opacity: 1;
}
body{
    transition: background-color .4s, color .4s;
}
body.night-theme{
    background: linear-gradient(160deg, #06162cd1 0%, #630268cc 90%);
    color: #fff;
}
body.night-theme .night-theme-btn{
    background-color: rgba(214, 211, 26, .5);
}

body.night-theme .night-theme-btn-icon__moon{
    opacity: 0;
}
body.night-theme .night-theme-btn-icon__sun{
    opacity: 1;
}
body.night-theme .setting-btn{
    filter: invert(1);
}
body.night-theme .sorting-btn{
    filter: invert(1);
}
body.night-theme .header-logo-icon{
    filter: invert(1);
}
.create-task{
    width: 120px;
    height: 50px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(20, 20, 239);
    color: #fff;
    cursor: pointer;
    transition: .2s;
}
.create-task:hover{
    background-color: rgb(26, 26, 205);
}
.create-task:focus{
    background-color: rgb(11, 11, 159);
}

/* dark mode btn */
.change__background{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.night-theme-btn{
    position: relative;
    border: none;
    outline: none;
    width: 70px;
    height: 70px;
    background-color: rgba(66, 165, 198, .5);
    border-radius: 10px;
    transition: filter .4s, background-color .4s;
    cursor: pointer;
}
.night-theme-btn:hover{
    filter: brightness(120%);
}

.main{
    margin-top: 150px;
}


.block-task-counter{
    font-family: "Poppins", sans-serif;
    visibility: hidden;
    opacity: 0;
    margin: 150px 0 10px;
}
.block-task-counter.open{
    visibility: visible;
    opacity: 1;
}
.counter{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.total-task{
    font-family: "Poppins", sans-serif;
    padding: 15px 40px;
    background-color: rgb(54, 69, 227);
    border: 1px solid rgb(19, 114, 239);
    color: #fff;
    border-radius: 5px;
}
.total{
    font-size: 18px;
}
.completed-tasks{
    font-family: "Poppins", sans-serif;
    padding: 15px 40px;
    background-color: rgb(21, 165, 37);
    border: 1px solid rgb(12, 236, 8);
    color: #fff;
    border-radius: 5px;
}
.completed{
    font-size: 18px;
}


.empty-list{
    margin: auto 0;
    display: flex;
    flex-direction: column;
}
.empty-list img{
    width: 140px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.empty-list-title{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 30px;
}
.create-task-main{
    margin: 0 auto;
}

.list-group-item{
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid rgb(174, 171, 171);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-bottom: 10px;
}
.note{
    display: flex;
    flex-direction: column;
}

.note-title--done{
    text-decoration: line-through;
    
}
.note-priority--done{
    text-decoration: line-through;
   
}
.note-description--done{
    text-decoration: line-through;

}

.note span{
    margin-bottom: 10px;
    color: #272727;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding: 0 10px;
}
.note span:last-child{
    margin-bottom: 0;
}
.note-btn span {
    color: #272727;
}
.btn-done{
    color: #fff;
    padding: 14px 18px;
    background-color: rgb(7, 131, 22);
    border-radius: 5px;
    margin: 0 5px 0 20px;
    transition: 0.2s;
    cursor: pointer;
}
.btn-done:hover{
    background-color: rgb(8, 100, 19);
}
.btn-edit{
    color: #fff;
    padding: 14px 16px;
    margin-left: 5px; 
    background-color: rgb(30, 17, 217);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}
.btn-edit:hover{
    background-color: rgb(18, 7, 169);
}
.btn-delete{
    color: #fff;
    padding: 14px 18px; 
    background-color: rgb(196, 23, 23);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}
.btn-delete:hover{
    background-color: rgb(144, 6, 6);
}






.modal__background{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 9;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}
.modal__background.open{
    visibility: visible;
    opacity: 1;
}
.modal__background.open .modal__window{
    transform: scale(1);
}
.modal__window{
    margin: 0 auto;
    width: 650px;
    border: 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0px 17px -7px rgba(34px, 60px, 80px, .4);
    position: relative;
    transform: scale(0);
    transition: .8s;
}
.modal__window-title{
    color: #272727;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid rgb(192, 191, 191);
}
.modal__window-title span{
    color: rgb(212, 17, 17);
}

form{
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.form-input-title{
    color: #272727;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-bottom: 5px;
}
.validation-block{
    max-width: 100%;
}
.form-input{
    min-width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    padding: 10px 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid;
    margin-bottom: 15px;
}
.form-input.error{
    box-shadow: 0 0 18px red;
    border: 2px solid red;
}
.form-textarea.error{
    box-shadow: 0 0 18px red;
    border: 2px solid red;
}
.modal__form-radio.error{
    box-shadow: 0 0 18px red;
    border: 2px solid red;
}
.formtextarea-title{
    color: #272727;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-bottom: 5px;
}
.form-textarea{
    min-width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    padding: 10px 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid;
    margin-bottom: 15px;
    resize: none;
}
.form-color-title{
    color: #272727;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-bottom: 5px;
}
.form-input-color{
    width: 70px;
    height: 70px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-bottom: 15px;
}

.modal__form-radio{
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    width: 20%;
    margin-bottom: 20px;
}
.modal__form-radio.error{
    box-shadow: 0 0 16px red;
    border: 2px solid red;
}

.form-radio-title{
    color: #272727;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin-bottom: 5px;
}
.label__form-radio{
    color: #272727;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
.form__radio{
    display: none;
}
.form__radio:checked + .label__form-radio::after{
    transform: scale(1);
}
.label__form-radio{
    font-family: Roboto;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    line-height: 140%;
    align-items: center;
    position: relative;
}
.label__form-radio::before{
    content: '';
    flex: 0 0 24px;
    height: 24px;
    border: 1px solid #272727;
    /* background-color:#272727; */
    border-radius: 50%;
    margin: 0 10px 0 0;
}
.label__form-radio::after{
    transition: transform 0.3s ease 0s;
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 16px;
    height: 16px;
    background-color: #272727;
    border-radius: 50%;
    transform: scale(0);
}


.modal__buttons{
    display: flex;
}
.modal__button-ok{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: rgb(7, 131, 22);
    color: #fff;
    margin-right: 15px;
    transition: 0.2s;
    cursor: pointer;
}
.modal__button-ok:hover{
    background-color: rgb(8, 172, 22);
}
.modal__button-cancel{
    outline: none;
    font-family: "Poppins", sans-serif;
    border-radius: 15px;
    padding: 10px 20px;
    background-color: rgb(238, 13, 13);
    border: none;
    color: #fff;
    transition: 0.2s;
    cursor: pointer;
}
.modal__button-cancel:hover{
    background-color: rgb(178, 11, 11);
}

.modal__window-close{
    position: absolute;
    top: -20px;
    right: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgb(238, 13, 13);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: 0.2s;
    cursor: pointer;
}
.modal__window-close:hover{
    transform: scale(1.1);
}

/* editing-block */
.editing__container{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 9;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}
.editing__container.open{
    visibility: visible;
    opacity: 1;
}
.editing__container.open .editing{
    transform: scale(1);
}
.editing{
    margin: 0 auto;
    width: 650px;
    border: 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0px 17px -7px rgba(34px, 60px, 80px, .4);
    position: relative;
    transform: scale(0);
    transition: .8s;
}
.editing-title{
    color: #272727;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid;
    padding: 10px 0;
}

#editForm{
    padding: 20px;
}
.edit-input-title{
    color: #272727;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-bottom: 5px;
}
.input-edit{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    padding: 10px 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid;
    margin-bottom: 15px;
}
.edit-textarea-title{
    color: #272727;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-bottom: 5px;
}
.textarea-edit{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    padding: 10px 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid;
    margin-bottom: 30px;
    resize: none;
}
.edit-form__ok-btn{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: rgb(7, 131, 22);
    color: #fff;
    margin-right: 10px;
    transition: 0.2s;
    cursor: pointer;
}
.edit-form__ok-btn:hover{
    background-color: rgb(8, 172, 22);
}
.edit-form__cancel-btn{
    outline: none;
    font-family: "Poppins", sans-serif;
    border-radius: 15px;
    padding: 10px 20px;
    background-color: rgb(238, 13, 13);
    border: none;
    color: #fff;
    transition: 0.2s;
    cursor: pointer;
}
.edit-form__cancel-btn:hover{
    background-color: rgb(178, 11, 11);
}